* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  display: grid;
  margin: auto;
  grid-template-columns: 200px 550px 200px;
  gap: 10px;
  padding: 20px 50px;
}

.logo img {
  padding-bottom: 10px;
  width: 115px;
  height: 45px;
}

.phtlg {
  padding: 2px;
  padding-bottom: 0px;
  background-color: #f7f7f7;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 10px;
}

.phtlg img {
  padding-top: 5px;
  padding-left: 5px;
  width: 30px;
  height: 28px;
  cursor: pointer;
}

.inpt ::placeholder {
  color: #8d8d8d;
  font-size: 16px;
}

.inpt {
  display: flex;
}

.put {
  display: flex;
}

.inpt input {
  padding: 15.5px;
  width: 400px;
  border: none;
  border-left: 1px solid #8d8d8d;
  background-color: #f7f7f7;
}

/* .inpt input:focus{
border:1px solid #8d8d8d;
} */

.search {
  background-color: #f7f7f7;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.search img {
  width: 22px;
  height: 24.5px;
}

.navlinks ul {
  display: flex;
  padding-top: 5px;
}

.navlinks li {
  list-style-type: none;
  margin: 10px;
  cursor: pointer;
}

.navlinks p {
  margin-top: -1px;
  font-size: 25px;
  padding-right: 1px;
  padding-left: 8px;
  padding-right: 7px;
  cursor: pointer;
}

.navlinks button {
  margin-top: -6px;
  margin-left: 8px;
  font-size: 18px;
  padding: 12px 15px;
  border-radius: 8px;
  background-color: #05a081;
  border: 1px solid #05a081;
  color: #fff;
  cursor: pointer;
}

.navlinks button:hover {
  background-color: #138d75;
}
