* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  display: grid;
  margin: auto;
  grid-template-columns: 200px 660px 200px;
  gap: 10px;
  padding: 20px 50px;
  padding-right: 20px;
  border-bottom: 1px solid #f7f7f7;
  background-color: #fff;
  z-index: 5;
}

.logo img {
  padding-bottom: 10px;
  margin-top: -4px;
  width: 120px;
  height: 50px;
  cursor: pointer;
  filter: grayscale(0);
}

.phtlg {
  padding: 2px;
  padding-bottom: 0px;
  background-color: #f7f7f7;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-right: 10px;
}

.phtlg img {
  padding-top: 9px;
  padding-left: 5px;
  width: 33px;
  height: 35px;
  cursor: pointer;
}

.phtlg span {
  padding-bottom: 50px;
  font-size: 20px;
}

.phtlg span img {
  height: 18px;
  width: 18px;
  cursor: pointer;
  margin-right: 2px;
  margin-bottom: 8px;
}

.inpt ::placeholder {
  color: #8d8d8d;
  font-size: 16px;
}

.inpt {
  display: flex;
}

.put {
  display: flex;
}

.inpt input {
  padding: 15.5px;
  width: 400px;
  border: none;
  border-left: 1px solid #8d8d8d;
  background-color: #f7f7f7;
}

/* .inpt input:focus{
border:1px solid #8d8d8d;
} */

.search {
  background-color: #f7f7f7;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.search img {
  width: 22px;
  height: 24.5px;
}

.navlinks ul {
  display: flex;
  padding-top: 5px;
}

.navlinks li {
  list-style-type: none;
  margin: 10px;
  cursor: pointer;
}

.navlinks p {
  margin-top: -1px;
  font-size: 25px;
  padding-right: 1px;
  padding-left: 8px;
  padding-right: 7px;
  cursor: pointer;
}

.navlinks button {
  margin-top: -6px;
  margin-left: 8px;
  font-size: 18px;
  padding: 12px 15px;
  border-radius: 8px;
  background-color: #05a081;
  border: 1px solid #05a081;
  color: #fff;
  cursor: pointer;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 95px;
  padding-top: 100px;
}

.heading p:first-of-type {
  font-size: 25px;
}

.heading p:last-child {
  font-size: 18px;
  padding: 8px 15px;
  border: 1px solid #dfdfe0;
  border-radius: 3px;
  cursor: pointer;
}

.heading img {
  height: 6px;
  margin-bottom: 2px;
}

section {
  padding-top: 20px;
  padding-right: 50px;
}

section img {
  cursor: pointer;
}

.sec1 {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 400px);
  gap: 10px;
  max-width: 1050px;
  margin-left: 50px;
  margin-right: 10px;
}

.gditem1 {
  grid-row: 1 / 3;
}

.gditem3 {
  grid-row-end: 3 / 3;
}

.sec1 img {
  height: 500px;
  width: 390px;
}

.gditem1 img {
  cursor: pointer;
  height: 600px;
}

.gditem2 img {
  height: 550px;
}

.gditem3 img {
  height: 600px;
}

.gditem4 img {
  height: 100%;
  margin-top: -40px;
}

.gditem5 {
  width: 33.3%;
  height: 100%;
  margin-top: 10px;
}

.gditem6 {
  margin-top: -540px;
}

.gditem7 {
  margin-top: -30px;
}

.gditem7 img {
  height: 370px;
}

.gditem9 {
  margin-top: -530px;
}

.gditem10 {
  margin-top: -150px;
}

.gditem10 img {
  height: 450px;
}

.gditem11 {
  margin-top: 10px;
}

.gditem12 {
  margin-top: -507px;
}

.gditem13 {
  margin-top: -200px;
}

.gditem14 {
  margin-top: 10px;
}

.gditem15 {
  margin-top: -510px;
}

.gditem16 {
  margin-top: -200px;
}

.gditem17 {
  margin-top: 15px;
}

.gditem18 {
  margin-top: -510px;
}

.gditem19 {
  margin-top: -205px;
}

.gditem20 {
  margin-top: 8px;
}

.gditem21 {
  margin-top: -510px;
}

.gditem21 img {
  height: 470px;
}

.gditem22 {
  margin-top: -205px;
}

.gditem23 {
  margin-top: 10px;
}

.gditem24 {
  margin-top: -540px;
}

.gditem25 {
  margin-top: -205px;
}

.gditem26 {
  margin-top: 10px;
}

.gditem27 {
  margin-top: -540px;
}

.gditem28 {
  margin-top: -205px;
}

.gditem29 {
  margin-top: 10px;
}

.gditem30 {
  margin-top: -540px;
}

.gditem31 {
  margin-top: -205px;
}

.gditem32 {
  margin-top: 10px;
}

.gditem33 {
  margin-top: -540px;
}

.gditem33 img {
  height: 300px;
}

.gditem34 {
  margin-top: -207px;
}

.gditem34 img {
  height: 180px;
}

.gditem35 {
  margin-top: 7px;
}

.gditem36 {
  margin-top: -735px;
}

.gditem36 img {
  height: 200px;
}

.gditem37 {
  margin-top: -527px;
}

.gditem38 {
  margin-top: 7px;
}

.gditem39 {
  margin-top: -735px;
}

.gditem39 {
  margin-top: -1035px;
}

.gditem40 {
  margin-top: -525px;
}

.gditem41 {
  margin-top: 8px;
}

.gditem41 img {
  height: 520px;
}

.gditem42 {
  margin-top: -1060px;
}

.gditem42 img {
  height: 600px;
}

.gditem43 {
  margin-top: -545px;
}

.gditem44 {
  margin-top: 7px;
}

.gditem44 img {
  height: 580px;
}

.gditem45 {
  margin-top: -1040px;
}

.gditem46 {
  margin-top: -625px;
}

.gditem47 {
  margin-top: 7px;
}

.gditem48 {
  margin-top: -1033px;
}

.gditem48 img {
  height: 490px;
}

.gditem49 {
  margin-top: -625px;
}

.gditem50 {
  margin-top: 7px;
}

.gditem51 {
  margin-top: -1042px;
}

.gditem52 {
  margin-top: -630px;
}

.gditem53 {
  margin-top: 7px;
}

.gditem54 {
  margin-top: -1040px;
}

.gditem55 {
  margin-top: -630px;
}

.gditem56 {
  margin-top: 7px;
}

.gditem57 {
  margin-top: -1040px;
}

.gditem57 img {
  height: 500px;
}

.gditem58 {
  margin-top: -630px;
}

.gditem59 {
  margin-top: 7px;
}

.gditem60 {
  margin-top: -1040px;
}

.gditem61 {
  margin-top: -630px;
}

.gditem62 {
  margin-top: 7px;
}

.gditem63 {
  margin-top: -1040px;
}

.gditem64 {
  margin-top: -635px;
}

.gditem65 {
  margin-top: 10px;
}

.gditem66 img {
  cursor: pointer;
  margin-top: -1040px;
  height: 560px;
}

.gditem67 img {
  cursor: pointer;
  margin-top: -635px;
}

.gditem68 img {
  cursor: pointer;
  margin-top: 20px;
}

.gditem69 img {
  cursor: pointer;
  margin-top: -980px;
}

.gditem70 img {
  margin-top: -640px;
  cursor: pointer;
}

.hvr {
  padding: 10px 5px;
  background-color: #05a081;
  border: 1px solid #05a081;
  border-radius: 20px;
  cursor: pointer;
  /* margin-left: 10px;
  margin-bottom: -110px; */
  /* margin-right: -5000px; */
  /* position: relative; */
  /* top: 5; */
  display: block;
}

.hrt {
  border-radius: 3px;
  /* margin-left: 170px;
  background-color: #f7f7f7;
  padding: 5px;
  margin-right: 170px; */
  top: 1;
  right: 1;
  display: block;
  justify-content: center;
}

.hvr img {
  height: 20px;
  width: 20px;
}

.hvr span {
  margin-top: -10px;
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
  z-index: 5;
}

.gditem70 .cpy img {
  height: 30px;
  width: 40px;
  display: none;
  margin-left: 300px;
  margin-top: -620px;
  top: 2px;
}

/* width: 30px;
  height: 30px;
  z-index: 5;
  position: absolute;
  bottom: 8px;
  right: 20px;
  display: none;
   */

.gditem70 .hrt img {
  height: 30px;
  width: 40px;
  margin-left: 750px;
}

.logo:hover {
  filter: grayscale(0.5);
}

.navlinks button:hover {
  background-color: #138d75;
}

.hvr:hover {
  background-color: #138d75;
}

.heading P:last-child:hover {
  border: 1px solid #333;
}

.gditem:hover {
  filter: brightness(70%);
}

/* .sec1 div .hvimg img:hover {
  display: block;
}

.sec1 img .hvr:hover {
  display: block;
} */

.gditem:hover .cpy {
  display: none;
}

.gditem:hover .hrt {
  display: none;
}

.gditem:hover .hvr {
  display: none;
}

.hrt img {
  height: 20px;
  width: 20px;
  display: none;
}

.cpy img {
  height: 20px;
  width: 20px;
  display: none;
}

.hvr {
  display: none;
}

@media screen and (max-width: 320px) {
  .hvr {
    display: none;
  }

  .hrt {
    display: none;
  }

  .cpy {
    display: none;
  }
  .sec1 img {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
  }
}
